.feed-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 1200px; 
    min-height: 100vh;
    box-sizing: border-box;
    background-color: white;
}

.posts-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}
