.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
    margin: 0 !important;
    background: white;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

.profileInfo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    background: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.avatarContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.editIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #ffffff;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.fileInput {
    display: none;
}


.inputField {
    margin-bottom: 25px;
    width: 100%;
}

.inputField label {
    font-weight: 600;
    font-size: 18px;
    color: #555;
}

.saveButton {
    margin-top: 20px;
    width: 40%;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
}

.saveButton:hover {
    background-color: #388e3c;
}


.saveButton:hover {
    background-color: #388e3c;
}

.feedContainer {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
}

.feedTitle {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-align: center; 
    width: 100%;
}
